$black:                     #333333 !default;
$white:                     #FFFFFF !default;

$grey--lightest:            #F4F3F3 !default;
$grey--light:               #E6E4E4 !default;
$grey:                      #D8D6D6 !default;
$grey--dark:                #999999 !default;
$grey--darkest:             #666666 !default;

$primary-color:             #6998AB !default;
$primary-color--light:      #406882 !default;
$primary-color--dark:       #1A374D !default;
$primary-gradient:          '' !default;
$primary-color--contrast:   white !default;

$secondary-color:           #8888dd !default;
$secondary-color--light:    #ccccdd !default;
$secondary-color--dark:     #4444dd !default;
$secondary-gradient:        '' !default;
$secondary-color--contrast: white !default;

$error-color:               #FF5C58 !default;
$error-color--light:        #FF5C58 !default;
$error-color--dark:         #FF5C58 !default;
$error-color--contrast:     white !default;

$warning-color:             #F4E185 !default;
$warning-color--light:      #F4E185 !default;
$warning-color--dark:       #F4E185 !default;
$warning-color--contrast:   white !default;

$success-color:             #D9DD6B !default;
$success-color--light:      #D9DD6B !default;
$success-color--dark:       #D9DD6B !default;
$success-color--contrast:   white !default;
